
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Add new Todo</h1>
<form action="/AddTodo" method="post">
    <label>What to do:</label>
    <input type="text" name="Title" value="" />
    <button type="submit">Add todo</button>
</form>

