

<h1><strong>Add new Todo</strong></h1>
<form action="/AddTodo" method="post">
    <label>What to do:</label>
    <input type="text" name="Title" value="" />
    <button type="submit">Add todo</button>
</form>

