

<head>
    <title>My Todo List</title>
</head>

<body>
    <h2>Todos for today</h2>
    <ul>
        <li>Start the day</li>
        <li>Finish workshop</li>
        <li>Buy charger</li>
        <li>Watch the videos</li>
    </ul>
</body>


