@model List<Todo>

<head>
    <title>My Todo List</title>
</head>

<body>
    <h2>Todos for today</h2>
    <a asp-controller="todo" asp-action="AddTodo">Click to add new Todo</a>
    <ul>
        @foreach (var todo in Model)
        {
            <li>@todo.Title</li>
            <li>@todo.IsDone</li>
            <li>@todo.IsUrgent</li>
        }
    </ul>
</body>


