@model List<Todo>

<head>
    <title>My Todo List</title>
</head>

<body>
    <h2>Todos for today</h2>
    <a asp-controller="todo" asp-action="AddTodo">Click to add new Todo</a>
    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <th>Id</th>
                <th>Content</th>
                <th>IsUrgent</th>
                <th>IsDone</th>
            </tr>
        </thead>
        @foreach (var todo in Model)
        {
            <tr>
                    <td>@todo.Id</td>
                    <td>@todo.Title</td>
                    <td>@todo.IsDone</td>
                    <td>@todo.IsUrgent</td>
            </tr>
        }
    </table>
</body>


