@model List<Todo>

<head>
    <title>My Todo List</title>
</head>

<body>
    <strong><h2>Todos for today</h2></strong>
    <a asp-controller="todo" asp-action="AddTodo" style="font-size:larger">Click to add new Todo</a>
    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <th>Id</th>
                <th>Content</th>
                <th>Urgent</th>
                <th>Done</th>
                <th>Delete</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var todo in Model)
            {
                <tr>
                    <td>@todo.Id</td>
                    <td>@todo.Title</td>
                    @if (!todo.IsUrgent)
                    {
                        <td><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></td>
                    }
                    else
                    {
                        <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
                    }
                    @if (!todo.IsDone)
                    {
                        <td><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></td>

                    }
                    else
                    {
                        <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
                    }
                    <td><a href="@todo.Id/delete" class="btn btn-danger">Delete</a></td>
                    <td><a href="@todo.Id/edit" class="btn btn-success">Edit</a></td>
                </tr>
            }
        </tbody>
    </table>
</body>


