@model List<Todo>

<head>
    <title>My Todo List</title>
</head>

<body>
    <h2>Todos for today</h2>
    <ul>
        <li>Start the day</li>
        <li>Finish workshop</li>
        <li>Buy charger</li>
        <li>Watch the videos</li>
        @foreach (var todo in Model)
        {
            <li>@todo.Title</li>
        }
    </ul>
    <form action="/AddTodo" method="post">
        <input type="text" name="Title" value="" />
        <button type="submit">Add todo</button>
    </form>
</body>


