<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Enter a new kid</title>
</head>
<body>
<form action="/add" class="form-inline" method="POST">
    <label>The child's name:</label>
    <input type="text" name="name"/>
    <label>The child's age:</label>
    <input type="number" name="age"/>
    <label>The child's sign:</label>
    <input type="text" name="sign"/>
    <button type="submit">Submit</button>
</form>
</body>
</html>