<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Change details of a child</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="/css/header.css" rel="stylesheet">
</head>
<body>
<form th:action="'/' + ${aChild.getId()} + '/edit'" class="form-inline" method="POST" th:object="${aChild}">
    <div>
        <label for="name">His/Her name:</label>
        <input type="text" name="name" id="name" th:field="${aChild.name}"/>
    </div>
    <div>
        <label for="birthdate">His/Her age:</label>
        <input type="text" name="birthdate" id="birthdate" th:field="${aChild.birthdate}"/>
    </div>
    <div>
        <label for="sign">His/Her sign:</label>
        <input type="text" name="sign" id="sign" th:field="${aChild.sign}"/>
    </div>
    <input type="submit" value="edit">
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>