
<h1><strong>New to Todo?</strong></h1>
<form action="/AddAssigne" method="post">
    <label>Sign up here:</label>
    <input type="text" name="Name" value="" placeholder="name"/>
    <input type="email" name="Email" value=""placeholder="email" />
    <button type="submit">Click to Assign</button>
</form>

