@model FoxClub.Services.IGiraffeMaker

<h2>Here is your Pet</h2>
<img src="~/images/giraffe.jpg" width="400" height="400" />
<p>@Model.GetFood() and drink @Model.GetDrink() .</p>
<p></p>
<p>Known Tricks</p>
<ul>
   <li>@Model.GetTrick()</li>
</ul>

