@model FoxClub.Services.IGiraffeMaker

<h2>Here is your Pet</h2>
<img src="~/images/giraffe2.jpg" width="400" height="400" />
<p>How great, it loves to eat @Model.GetFood() and drink @Model.GetDrink().</p>
<p>Do you want to feed it with something else?</p>
<p>Let's go to the famous Nutrition Web Store.</p>
<p></p>
<h4>Does trick, like:</h4>
<ul>
   <li>@Model.GetTrick()</li>
</ul>

