@model FoxClub.Services.IGiraffeMaker

<h2>Here is your pet, @Model.GetName()</h2>
<img src="~/images/giraffe2.jpg" width="400" height="400" />
<p>How great, it loves to eat @Model.GetFood() and drink @Model.GetDrink().</p>
<p></p>
<h4>Does trick, like:</h4>
<h5>@Model.GetTrick()</h5>

<p>Do you want to feed it with something else?</p>
<p></p>
<p>Let's go to the famous Nutrition Web Store.</p>
<form action="~/Giraffe/Giraffe" method="get">
<link href="~/Giraffe/Nutrition" rel="stylesheet"/>
<button type="submit">Click to visit</button>
</form>


