


<div style="text-align:center">
    <h2>Submit a new post</h2>
    <br/>
    <form action="/AddPost" method="post">
        <label>Title:</label>
        <input type="text" name="Title" value="title" /><br /><br/>
        <label>URL</label>
        <input type="text" name="PostUrl" value="url" />
        <button type="submit">Submit</button>
    </form>
</div>

