


<h2>Submit a new post</h2>

<form action="/AddPost" method="post">
    <label>Title:</label>
    <input type="text" name="Title" value="title" />
    <label>URL</label>
    <input type="text" name="PostUrl" value="url" />
</form>

