@model RedditPage.ViewModel.RedditViewModel

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Reddit Page</title>
</head>
<body>
    <br />
    <a asp-controller="Post" asp-action="AddPost" style="font-size:25px">Submit a new post</a><br /><br />
    <a asp-controller="Post" asp-action="Login" style="font-size:25px">Register a new user</a><br />
    <br />
    <h2>Trending Posts</h2>
    <br />
    <br />
    <br />
    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <th>Rating</th>
                <th></th>
                <th>Give Rating</th>
                <th></th>
                <th></th>
                <th>Title</th>
                <th>Date Posted</th>
                <th>User</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var post in Model.Posts)
            {
                <tr>
                    <td>@post.Votes</td>
                    <td></td>
                    <td><form action="/@post.Id/Increase" method="post" name="id"><button type="submit">+</button></form></td>
                    <td><form action="/@post.Id/Decrease" method="post" name="id"><button type="submit">-</button></form></td>
                    <td></td>
                    <td><link href="@post.PostUrl" rel="stylesheet" />@post.Title</td>
                    <td>@post.Date</td>
                    <td>
                        @*@post.UserOfPost.UserName*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>



