@model List<User>

<h2>Please register to post</h2>
<form action="/Login" method="post" >
    <fieldset>
        <legend>Register</legend>
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">User name</label>
            <input type="text" name="UserName" class="form-control-plaintext" value="" placeholder="Username">
            <br/><label for="exampleInputEmail1">Email address</label>
            <input type="email" name="UserEmail" class="form-control" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            <input type="number" name="Id" value="" hidden/>
        </div>
        <button type="submit">Log In</button>
        </fieldset>
    </form>

