@model string
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model</h2>
<form action="/" method="post">
    <input type="text" name="name" value="" />
    <button type="submit">Click to greet</button>
</form>

