body {  background-image: url(topography/topography.png);
	margin: 0;
}

.main {
	padding-left: 10%;
	padding-right: 10%;
}

.topbar {
	background-color: #333333;
	width: 100%;
	height: 10%;
	display: inline-block;

}
.link {
	float: right;
	display: inline-block;
	padding: 2% 10%;
	
}

.divider {
	margin-top: 40px;
}

.pic {
	margin: 0;
	padding: 0.4% 10%;
	display: inline-block;
}

h1 {
	font-family: 'Merriweather', serif;
	margin-top: 100px;
	margin-bottom: 45px;
}

p {
	font-family: 'consolas', courier;
	line-height: 2;
}

a {
	color: #ff0099;
	padding: 7px;
}
.divider {
	text-align: center;
}

.first {
	color: #b74424;
}
.second {
	text-align: center;
	font-size: 2.0em;
	margin-bottom: 55px;
	margin-top: 30px;
}


