@model BankAccount

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="list-group" max-width="400px">
       
            <a href="#" class="list-group-item active">
                @Model.Name
            </a>
            <a href="#" class="list-group-item">
                @String.Format("{0:N2}", Model.Balance) @Model.Currency
            </a>
            <a href="#" class="list-group-item">
                @Model.AnimalType
            </a>
        

    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

