@model BankAccount
@{
    ViewData["Title"] = "Simba";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bank Of Simba</h2>
<p>@Model.Name</p>

<p>@String.Format("{0:N2}", Model.Balance) @Model.Currency</p>

<p>@Model.AnimalType</p>

