@model string

<h2>Anagram Game</h2>
<form action="macipufi" method="post">
    <label>First input</label>
    <input type="text" name="input" value="" />
    <label>Second input</label>
    <input type="text" name="input2" value="" />
    <button type="submit">Click to check</button>
</form>

