@{
    ViewData["Title"] = "Home Page";
}

<ul>
    <li href="">Information</li>
</ul>
<img src="~/images/giraffe.jpg" alt="Alternate Text" width="400" height="400"/>
<p>This is Mr Giraffe. He loves spagetti and beer. He knows 2 tricks.</p>
<h2>Known tricks</h2>
<ul>
    <li>Use ASP.NET</li>
    <li>Touch the sky.</li>
</ul>